/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1020px;
}

// HEADER
#header {
	#inner-header {
		width: 75%;
	}
	#logo {
	}
	nav {
		li a {
		}
	}
}

.home, .page-id-49, .error404 {
	
	#left {
		width: 75%;
		left:0;
		float: left;
		#inner-header {
			width: 100%;
		}

	}
	#right {
		width: 25%;
		right:0;
		float: right;
		clear: none;
		.right-box {
			width: 100%;
			display: inline-block;
			position: relative;
			vertical-align: top;
		}
	}
}
.home {	
	#content {

		#left-content {
			width: 60%;
			#main-reflections {
			 }

			article {
				width: 50%;
				&.tweet {
					div {
					}
					.twitter-icon {
					}
				}
			}
			
			
			.reflection h2 a {
			}
		}
		
		#right-content {
			width: 40%;
			article .blog-image {
				max-height: 16em;
				overflow: hidden;
			}

		}
	}
}
.page-id-49 {
	#content {
	}
	.hentry {
	}
	#left-content {
		.article-header {
			.page-title {
				a {
				}
				
			}
			.page-subtitle {
			}
		}
	}
	#author-grid {
		.gutter {
			width: 1%;
			display: inline-block;
			&:nth-of-type(3n+3){
				display: inline-block;
			}
			&:nth-of-type(5n+5){
				display: none;
			}


		}
		.author-box {
			width: 19.2%;
			.author-image {
			}
			h3 {
			}
		}
	}
}

.author, .archive, .single, .page-id-26 /*about-page*/ {
	#content {
		 .content {
		 }
	}
	#left-content {
		#to-overview {
			a {
			}	
		}
		img {
		}
		hr {
		}
		#author-share {
			h3 {
			}
		}
	}
	#right-content {
	}
}

.post-type-archive {
	#content {

		.archive-title {
		}
		article {
			width: 28%;
			.blog-image img {
			}
			.entry-meta {
			}
			.h2 {
			}
			.bottom-line {
			}
		}
		.archive-spacer {
			width: 8%;

			&:nth-of-type(2n+2){
				display: inline-block;
			}
			&:nth-of-type(3n+3){
				display: none;
			}
		}
	}
}


.footer {
	#instagram {
		#instabox {
			width: 20%;
			padding-bottom: 20%;
		}
		#greenbox {
			margin-left: 20%;
		}
		#instaphotos {
			float: left;
			width: 80%; 
			display: inline-block;
			white-space: nowrap;
			#sb_instagram.sbi_col_4.sbi_disable_mobile #sbi_images .sbi_item {
				width: 25%;
			}
		}
	}
	#inner-footer {
		#p-email {
			display: inline-block;
		}
		.float-right {
			float: right;
			margin-left: 2.5em;
		}
	}

}
