/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.wrap {
  width: 1200px;
}

.home #content #right-content article .blog-image {
	max-height: 20em;
	overflow: hidden;
}
