/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/
#sb_instagram img { opacity: 1 !important; }
@media(max-width: 768px){
  #sb_instagram #sbi_images .sbi_item{ display: none; }
  #sb_instagram #sbi_images .sbi_item:nth-child(-n+1){ display: inline-block; }
}
@media(max-width: 1030px){
  #sb_instagram #sbi_images .sbi_item{ display: none; }
  #sb_instagram #sbi_images .sbi_item:nth-child(-n+4){ display: inline-block; }
}


body {
	font-family: $serif;
	font-size: 100%;
	line-height: 1.5;
	color: #282828;
	background-color: white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
main p {
	font-size: 0.91em;
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-word;
  word-break: break-word;
  -ms-hyphens: manual;
  -moz-hyphens: manual;
  -webkit-hyphens: manual;
  hyphens: manual;
}
@mixin hyphens(){
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
body, body p {
	@include word-wrap();
}
a.excerpt-read-more, a.excerpt-read-more:visited {
	font-size: 1.2em;
	text-decoration: none;
	color: #00af81;
	&:hover {
		color: #676a6a;
	}
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 94%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	text-decoration: none;
	color: #00af81;
	&:hover, &:focus {
		color: #676a6a;
	}
	&:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $sans-serif;
	text-rendering: optimizelegibility;
	font-weight: 400;
	a, a:visited {
		text-decoration: none;
		color: black;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.35em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

#header {
	background-color: #EDEBEB;
	font-family: $sans-serif;
	padding: 1em 0;
	width: 100%;
	.home &, .page-id-49 &, .error404 & {
		background-color: white;
	}
	nav {
		text-transform: uppercase;
	}
}

	#logo {
		display: block;
		padding: 1.5em 0;
		a {
			display: block;
			width: 75%;
			padding-bottom: 13.8%;
			background-size: cover;
			background-position: center center;
		}
	}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			color: black;
			text-decoration: none;
			padding: 0.75em;
			&:hover, &:focus {
				color: #676a6a;
				text-decoration: none;
			}
		}
	} 

	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {
			color: #676a6a;
		}

	} 

}


/*********************
POSTS & CONTENT STYLES
*********************/

.home, .page-id-49, .error404 {
	
	#left {
	
	}
	#right {
		font-family: $sans-serif;
		white-space: normal;
		#newsletter {
			background-color: #676A6A;
			text-align: center;
			color: white;

			#newsletter-greenbox {
				background-color: #4DB589;
				margin-bottom: -1px;
				overflow: auto;
				padding: 0 2em;
				padding-top: 1em;
				font-weight: 600;
				.normal {
					font-size: 1em;
					margin-bottom: 0;
					margin-top: 1.5em;
				}
				.bigger {
					font-size: 1.3em;
					margin-top: 0;
					margin-bottom: 1.5em;
				}
			}
			#greenbox {
				//background-color: rgb(0,188,140);
				//-webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
				//clip-path: polygon(50% 100%, 0 0, 100% 0);
				background-image: url('../images/arrow@2x.png');
				background-size: cover;
				background-repeat: no-repeat;
				height: 12px;
				width: 31px;
				margin: 0 auto;
			}
			#newsletter-register {
				overflow: auto;
				padding: 1em;
				font-size: 1.1em;
				form {
					padding: 0 1em;
					.newsletter-email {
						  border: none;
						  border-radius: 0;
						  -webkit-appearance: none;
						  text-align: center;
						  margin: 1em auto;
						  word-break: break-all;
						  line-height: 1.5em;
					}
					.newsletter-submit {
						-webkit-appearance: none;
						background: none;
						border: none;
						color: white;
						border-bottom: 2px solid #89dac5;
						border-radius: 0;
						font-weight: 500;
						margin-bottom: 1em;
						&:hover {
							color: #89dac5;
						}
					}
				}
			}
		}
		a.linkbox {
			text-decoration: none;
			color: white;
		}
		.right-box {
			width: 50%;
			display: inline-block;
			position: relative;
			vertical-align: top;
		}
		.right-box:after {
			padding-top: 110%;
			/* 10:11 ratio */
			display: block;
			content: '';
		}
		.right-box div {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-size: cover;
			background-position: center center;
			h2 {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				text-align: center;
				border-bottom: 1px solid #9dd6c3;
				margin: 1em 0.5em;
				text-transform: uppercase;
				font-weight: 700;
			}
		}
		.right-box:hover:before {
			position: absolute;
			left: 0; right:0;bottom:0;top: 0;
			background-color: rgba(0,0,0,0.1);
			z-index: 3;
			content: ' ';
		}
		.right-box:hover {
			cursor: pointer;
			a.linkbox h2 {
				color: #D7D7D7;
				border-bottom: 1px solid #D7D7D7 !important;	
				z-index: 200;					
			}
		}

		#participants {
			margin: 1.5em;
			h2 {
				width: 100%;
				border-bottom: 1px #D7D7D7 solid;
				color: #676A6A;
				padding-bottom: 0.25em;
				margin-bottom: 1em;
			}
			li {
				list-style-type: none;
				margin-bottom: 0.2em;
				a, a:visited {
					color: black;
					text-decoration: none;
					padding-bottom: 0.1em;
					border-bottom: 2px solid #89dac5;
					&:hover {
						color: #676a6a;
						border-color: #d7d7d7;
					}
				}
			}
		}
	}
	
	#content {
		width: 100%;
		#left-content {
			#about {
				width: 100%;
				display: inline-block;
				position: relative;
				vertical-align: top;
				margin-bottom: 2em;
			}
			#about:after {
				padding-top: 100%;
				/* 1:1 ratio */
				display: block;
				content: '';
			}
			#about div {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				background-size: cover;
				background-position: center center;
				h1 {
					position: absolute;
					left: 0;
					bottom: 0;
					margin: 1em;
					font-weight: 600;
					z-index: 200;
					a, a:visited {
						text-decoration: none;
						color: #ffffff;
						border-bottom: 3px solid #9dd6c3;
					}
				}
			}
			#about:hover:before {
				position: absolute;
				left: 0; right:0;bottom:0;top: 0;
				background-color: rgba(0,0,0,0.1);
				z-index: 3;
				content: ' ';
			}
			#about:hover {
				cursor: pointer;
				div h1 a {
					color: #D7D7D7;
					border-bottom: 3px solid #D7D7D7;
				}
			}
			#main-reflections {
				 display: none;
			 }
			
		}
		#right-content {
			margin-bottom: 2em;
			background-color: #EDEBEB;
			#see-all {
				-webkit-appearance: none;
				border-radius: 0;
				background-color: #59B48B;
				text-transform: uppercase;
				font-family: $sans-serif;
				margin: 0 1.75em;
				margin-bottom: 1.75em;
				padding: 0.7em;
			    color: white;
			    font-weight: 700;
			    border: 0;
			}
			article {
				.blog-image {
					max-height: 35em;
					overflow: hidden;
				}
				.blog-image img {
					display: block;
					min-width: 100%;
					height: auto;
					/*padding-bottom: 75%;
					background-size: cover;
					background-position: center center;*/
				}
				&.hentry {
					margin: 0;
					margin-bottom: 1em;
				}
			}
			.blog-wrapper {
				padding: 0 1.75em;
			}
			header.blog-wrapper {
				background-color: #D7D7D7;
				padding-top: 0.5em;
				padding-bottom: 0.5em;
				font-family: $sans-serif;
				font-weight: 600;
				color: white;
				display: table;
				width: 100%;
				div {
					display: table-cell;
					margin-left: 0.5em;
					vertical-align: middle;
					&:first-child {
						margin-left: 0;
					}
					&.blog-day, &.blog-thumb {
						width: 4em;
						padding: 0.25em 0;
						padding-right: 0.5em;
					}
				}
				.circle-item {
					width: 3em;
					border-radius: 50%;
					text-align: center;
					background-color: #353738;
					background-size: cover;
				}
				.header-span {
					display: table-cell;
					vertical-align: middle;
					line-height: 1em;
					height: 3em;
					padding-top: 0.3em;
					&.circle-item {
						.bolder {
							font-weight: 700;
						}
					}
				}
				.blog-author {
					text-transform: uppercase;
					a {
						color: #17a170;
						text-decoration: none;
					}
				}
			}
			
			.entry-content {
				.entry-title {
					margin-top: 1em;
					margin-bottom: 1em;
					display: inline-block;
					a, a:visited {
						color: black;
						border-bottom: 2px solid #89dac5;
						&:hover {
							color: #676a6a;
							border-color: #d7d7d7;
						}
					}
				}
				.entry-meta {
					margin: 0;
					font-style: normal;
					font-family: $sans-serif;
				}
			}
		}
	}
}

.post-type-archive {
	#content {
		white-space: normal;
		.archive-title {
			margin-top: 0;
			color: #00bc8c;
			font-weight: 500;
		}
		article {
			white-space: normal;
			margin-bottom: 0;
			.blog-image img {
				vertical-align: top;
			}
			.h2 {
				margin-top: 1.5em;
				margin-bottom: 1em;
				display: inline-block;
				a {
					border-bottom: 2px solid #89dac5;
					font-weight: 300;
					&:hover {
						color: #676a6a;
						border-bottom: 2px solid #d7d7d7;
					}
				}
			}
			.bottom-line {
				margin-top: 0.5em;
				margin-bottom: 2em;
				border-bottom: 3px black solid;
				width: 2.5em;
			}
		}
	}
}


.page-id-49, .error404 {
	#content {
		margin-top: 2em;
		font-family: $sans-serif;
		.entry-content p {
			font-size: 1em;
		}
	}
	.hentry {
		margin-bottom: 0;
	}
	#left-content {
		.article-header {
			color: rgb(0,188,140);
			font-weight: 500;
			.page-title {
				font-size: 2.4em;
				a, a:visited {
					color: rgb(0,188,140);
				}
				
			}
			.page-subtitle {
				font-size: 1.5em;
				margin-top: 0;
			}
		}
	}
	#author-grid {
		margin-top: 2em;
		.gutter {
			//width: 2%;
			display: none;
		}
		.author-box {
			margin-bottom: 2em;
			width: 100%;
			display: inline-block;
			vertical-align: top;
			.author-image {
				width: 100%;
				padding-bottom: 125%;
				background-position: center scenter;
				background-size: cover;
			}
			h3 {
				font-size: 1.4em;
				color: black;
				margin-top: 0.75em;
				margin-bottom: 0;
				display: inline-block;
				line-height: 1em;
				border-bottom: 2px solid rgb(137,218,197);
				&:hover {
					color: #676a6a;
					border-bottom: 2px solid #d7d7d7;
				}
			}
		}
	}

}
.single, .page {
	#right-content .article-header {
		color: rgb(0,188,140);
		.page-title, .h2 {
			font-size: 2.6em;
			font-weight: 500;
			a:hover {
				color: #676a6a;
				//border-bottom: 2px solid #d7d7d7;
			}
		}
	}
}

.author, .archive, .single, .page-id-26 /*about-page*/ {
	#content {
		margin-top: 4em;
	}
	#left-content {
		margin-bottom: 2em;
		#to-overview {
			width: 100%;
			border-bottom: 2px solid rgb(137,218,197);
			padding-bottom: 0.2em;
			margin-bottom: 2.5em;
			a, a:visited {
				font-family: $sans-serif;
				text-decoration: none;
				font-size: 1.2em;
				color: black;
				&:hover {
					color: #676a6a;
				}
			}
		}
		.author-pre {
			font-size: 0.8em;
			font-family: $serif;
		}

		img {
			max-width: 100%;
			height: auto;
		}
		hr {
			margin: 2em 0;
			border: 0;
		    height: 1px;
		    background-color: rgb(137,218,197);
		}
		#author-share {
			h3 {
				font-weight: 100;
				font-family: $sans-serif;
			}
			.share {
				display: inline-block;
				width: 3em;
				height: 3em;
				background-size: cover;
				margin-left: 0.5em;
				&:first-of-type {
					margin: 0;
				}
			}
			#facebook {
				background-image: url('../images/fb-g.png');
			}
			#twitter {
				background-image: url('../images/tw-g.png');
			}
			#linkedin {
				background-image: url('../images/in-g.png');
			}
		}
	}
	#right-content {
		header .h2 {
			color: black;
			margin-top: 0;
			font-size: 1.5em;
			margin-bottom: 0.5em;
		}
		section p {
			font-size: 1em;
			line-height: 2em;
		}
		section h3 {
		    margin-top: 0.2em;
		    line-height: 2em;
			font-weight: 300;
   		}
	}
}
		.hentry {
			margin-bottom: 1.5em;
			
			img {
				max-width: 100%;
				height: auto;
			}

			header {
			}


		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {

			p {
				margin: 0 0 1.5em;
			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-of-type(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}
			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		}

		.wp-caption {
			max-width: 100%;
			//background: #eee;
			//padding: 5px;

			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 0 0 1em;
				text-align: center;
			}

		}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, a:visited, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: #00af81;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: #282828;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  }

	.wp-prev-next {


		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} 


/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;	
	color: white;
	font-family: $sans-serif;

	#instagram {
		width: 100%;
		overflow: hidden;
		clear: both;
		#instabox {
			width: 100%;
			padding-bottom: 50%;
			background-color: #4DB589;
			display: inline-block;
			color: white;
			text-align: center;
			vertical-align: top;
			position: relative;
			#sizer {
				position: absolute;
				height: 100%;
				width: 100%;
			}
			#outer {
			    display: table;
			    position: absolute;
			    height: 100%;
			    width: 100%;
			}
			
			#middle {
			    display: table-cell;
			    vertical-align: middle;
			}
			
			#inner {
			    margin-left: auto;
			    margin-right: auto; 
			    width: 90%;
			    margin: 2em auto;
			}
			.normal {
				font-size: 1em;
				margin: 0;
				text-decoration: none;
				color: white;
			}
			.bigger {
				margin-top: 0;
				margin-bottom: 1.5em;
				text-transform: uppercase;
				font-weight: 600;
			}
		}
		#greenbox {
			background-image: url('../images/arrow@2x.png');
			background-repeat: no-repeat;
			background-size: contain;
			height: 12px;
			width: 31px;
			margin: 0 auto;
			position: absolute;
			left: 0;
			right: 0;
			z-index: 99;
			margin-top: -1px;
		}
		#instaphotos {
			width: 100%;
			#sb_instagram.sbi_col_4.sbi_disable_mobile #sbi_images .sbi_item {
				width: 50%;
				//height: 14em;
			}
			#sb_instagram #sbi_load {
				display: none;
			}
		}
	}
	
	#inner-footer {
		color: black;
		text-transform: uppercase;
		a, a:visited {
			color: black;
		}
		#p-email {
			height: 4em;
			&:hover {
				color: #676a6a;
			}
			a, a:hover {
				color: inherit;
			}
		}
		.icon {
			height: 2.5em;
			width: 2.5em;
			background-size: cover;
			background-position: center center;
			display: inline-block;
			position: relative;
			top: -1.1em;
		}
		span {
		    vertical-align: bottom;
		    display: inline-block;
			line-height: 4em;
		}
		.social {
		    padding-left: 0.25em;
   		}
   		.float-right {
			&:hover {
				color: #676a6a;
			}
			a, a:hover {
				color: inherit;
			}

		}

		.fb {
			background-image: url('../images/fb.png');
			background-repeat: no-repeat;
		}
		.tw {
			background-image: url('../images/tw.png');
			background-repeat: no-repeat;
		}
		.in {
			background-image: url('../images/in.png');
			background-repeat: no-repeat;
		}
		.float-right {
			height: 4em;
		}
	}
}